@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden; /*좌우 스크롤 방지*/
    color: rgb(29,29,31);
    letter-spacing: -0.05em;
    background-color: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29,29,31);
    text-decoration: none;
}

.global-nav {
    height: 44px;
    padding: 0 1rem;
}

.local-nav {
    height: 52px;
    border-bottom: 1px solid #ddd;
    padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px; /*브라우저 사이즈가 클 때 최대가 1000이고, 줄어들면 같이 줄어들게 해야하므로 max-width 사용*/
    margin: 0 auto; /*좌우 margin은 auto를 사용하여 가운데 정렬*/
    height: 100%; /*height 44는 부모 요소이고, 여기는 텍스트만큼만의 높이라 수직 가운데 정렬이 안되므로, 부모와 같은 높이로 지정*/
}

.global-nav-links {
    justify-content: space-between;
}

.product-name {
    font-size: 1.4rem;
    font-weight: bold;
    /*로고처럼 하나만 떨어지게 하고 싶으면 margin: auto가 가장 쉬움*/
    /*auto는 가질 수 있는 간격을 모두 사용하기 때문에 잘 활용하면 정렬하기 편함*/
    margin-right: auto;
    
}

/*not을 사용하면 괄호 안 조건을 만족하는 요소는 제외하고 적용*/
.local-nav-links a:not(.product-name) {
    margin-left: 2em;
    font-size: 0.8rem;
}

.scroll-section {
    padding-top: 50vh; /*화면의 절반만큼 padding 주기*/
}

#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center; /*텍스트 정렬*/
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
}

.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.main-message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
}

#scroll-section-2 .main-message {
    font-size: 3.5rem; /*css 적용 순서에 따라 이 부분이 우선 적용되고, 그 후 위 small 적용*/
}

.description {
    max-width: 1000px; /*최대 폭 제한*/
    margin: 0 auto;
    padding: 0 1rem; /*메뉴의 rem 간격과 똑같이 맞춤*/
    font-size: 1.2rem;
    color:#888;
}

/*여기서는 주로 font-size는 rem 단위, 나머지는 em 단위를 사용하고 있음 -> 단위 더 공부하기*/
.description strong {
    float: left; /*왼쪽으로 정렬하여 바로 오른쪽에 글자가 바로 보이도록 설정*/
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29,29,31);
}

.desc-message {
    width: 50%;
    font-weight: bold;
}

.pin {
    /*세로로 긴 선 만들기*/
    width: 1px;
    height: 100px;
    background: rgb(29,29,31);
}

.mid-message {
    max-width: 1000px; /*최대 폭 제한*/
    margin: 0 auto;
    padding: 0 1rem; /*기존 좌우 간격과 똑같이 설정*/
    font-size: 2rem;
    color: #888;
}

.mid-message strong {
    color: rgb(29,29,31);
}

.canvas-caption {
    max-width: 1000px; /*최대 폭 제한*/
    margin: 0 auto;
    padding: 0 1rem;
    color: #888;
    font-size: 1.2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: #34b696;
}

.sticky-elem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*show-scene ID를 갖고 있으면, 각 scroll-section의 sticky-elem 활성화*/
/*show-scene은 스크롤하는 정도에 따라 추후 자바스크립트로 body에 ID를 줄 예정*/
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}

@media (min-width: 1024px) {
    #scroll-section-0 h1 {
        font-size: 9vw; /*화면 크기에 비례하여 글자 사이즈도 달라짐*/
    }

    .main-message {
        font-size: 4vw;
    }

    .description {
        font-size: 2rem;
    }

    .description strong {
        font-size: 6rem;
    }

    #scroll-section-2 .main-message {
        font-size: 6vw;
    }

    .main-message small {
        font-size: 1.5vw;
    }

    .desc-message {
        width:20%;
    }
    
    .mid-message {
        font-size: 3vw;
    }

    .canvas-caption {
        font-size: 2rem;
    }
}